
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<table style="width:100%">
    <tr>
        <th>Degree</th>
        <th>year</th>
        <th>Ins</th>
    </tr>
    <tr>
        <td>BSC</td>
        <td>2024</td>
        <td>Aiub</td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>2019</td>
        <td>gvt.</td>
    </tr>
    <tr>
        <td>SSC</td>
        <td>2017</td>
        <td>n school</td>

    </tr>
</table>
<a href="/Home/Index">Index</a>
<a href="/Home/Project">Project</a>
<a herf="/Home/Reference">Reference</a>
<a herf="/Home/Personal">Personal</a>
