@{
    ViewBag.Title = "Home Page";
}

<body>
    <table>
        <tr for="fname">First name: Md:Nafiz Ahmed</tr>
        <br>
        <tr for="id">ID:20-42913-1</tr>
        <br>
        <tr for="lname">Email:</tr>
        <br>

        <tr for="lname">Github profile:</tr>


        <br>
        <tr type="submit" value="Submit">



    </table>
    <a href="/Home/Education">Education</a>
    <a href="/Home/Project">Project</a>
    <a herf="/Home/Reference">Reference</a>
    <a herf="/Home/Personal">Personal</a>

</body>