
@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>
<body>
Name       :<br>
Father Name:<br>
Mother Name:<br>
<a href="/Home/Education">Education</a>
<a href="/Home/Index">Index</a>
<a href="/Home/Project">Project</a><br>
<a herf="/Home/Reference">Reference</a>

    </body>

