
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>
<body>
    <p>
        *webt :<br>
        *C#:<br>
        *java:

    </p>

    <a href="/Home/Education">Education</a>
    <a href="/Home/Index">Index</a>
    <a herf="/Home/Reference">Reference</a>
    <a herf="/Home/Personal">Personal</a>

</body>

