
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<body>
    <a href="/Home/Education">Education</a>
    <a href="/Home/Index">Index</a>
    <a href="/Home/Project">Project</a>
    <a herf="/Home/Personal">Personal</a>

</body>